<!--#######################################################################  
    Index.html -- home page
    Author:  Maria Barrera
    Date: 03/14/2021
    Mission to Mars -- web-scraping challenge
    ########################################################################-->
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Mission to Mars</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    
    <body>
      <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <h5>Explore... Explore... Explore...</h5>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Latest Mars News</h2>
          </div>
        </div>
      </br>
        <div class="row">
          <div class="col-md-12">
            <h4>{{mars.news_title}}</h4>
            <p>{{mars.news_paragraph}}</p>
          </div>
        </div>
      <hr>
        <div class="row">
          <div class="col-md-8 border">
            <h2 class="">Featured Mars Image</h2> 
            </br>
            <img class = "img-fluid" width="100%" src="{{mars.featured_image_url | safe }}" alt="Featured Mars Image">
          </div>
          <div class="col-md-4">
            <div class="border">
              <h3>Mars Facts</h3>
              {{ mars.fact_table | safe}}
            </div>
          </div>
        </div>
      <hr>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!--  Mars Hemispheres -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="row">
          <div class="col-md-8 offset-4">
            <h3 class="align-items-center"><u>Mars Hemispheres</u></h3>  
          </div>
        </div>
        </br>
        <div class="row">       
          {% for hemisphere in mars.hemisphere_images %} 
            <div class="col-6 border">
            </br>
                  <div>
                    <img class = "img-fluid" width="100%" src="{{ hemisphere.img_url | safe }}">
                  </div>
                  <div>
                    <h4> {{ hemisphere.title | safe }} </h4>  
                  </div>
            </div>
          {% endfor %}
        </div> 
        <hr>
      </div>  
    
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!--  scripts for auto screen adjustments -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    </body>
    
    </html>