<!--#######################################################################  
    Index.html -- home page
    Author:  Maria Barrera
    Date: 03/14/2021
    Mission to Mars -- web-scraping challenge
    ########################################################################-->
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Mission to Mars</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="styles.css">
    </head>
    
    <body>
      <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <h5>Explore... Explore... Explore...</h5>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2>Latest Mars News</h2>
          </div>
        </div>
      </br>
        <div class="row">
          <div class="col-md-12">
            <h4>Mars Now</h4>
            <p>Working with the Navajo Nation, the rover team has named features on Mars with words from the Navajo language.</p>
          </div>
        </div>
      <hr>
        <div class="row">
          <div class="col-md-8 border">
            <h2 class="">Featured Mars Image</h2> 
            </br>
            <img src="https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg" alt="Featured Mars Image">
          </div>
          <div class="col-md-4">
            <div class="border">
              <h3>Mars Facts</h3>
                <table border="1" class="dataframe">
      <thead>
        <tr style="text-align: right;">
          <th></th>
          <th>Desc</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>0</th>
          <td>Equatorial Diameter:</td>
          <td>6,792 km</td>
        </tr>
        <tr>
          <th>1</th>
          <td>Polar Diameter:</td>
          <td>6,752 km</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Mass:</td>
          <td>6.39 × 10^23 kg (0.11 Earths)</td>
        </tr>
        <tr>
          <th>3</th>
          <td>Moons:</td>
          <td>2 (Phobos &amp; Deimos)</td>
        </tr>
        <tr>
          <th>4</th>
          <td>Orbit Distance:</td>
          <td>227,943,824 km (1.38 AU)</td>
        </tr>
        <tr>
          <th>5</th>
          <td>Orbit Period:</td>
          <td>687 days (1.9 years)</td>
        </tr>
        <tr>
          <th>6</th>
          <td>Surface Temperature:</td>
          <td>-87 to -5 °C</td>
        </tr>
        <tr>
          <th>7</th>
          <td>First Record:</td>
          <td>2nd millennium BC</td>
        </tr>
        <tr>
          <th>8</th>
          <td>Recorded By:</td>
          <td>Egyptian astronomers</td>
        </tr>
      </tbody>
    </table>
                <!-- <table class="mars_data.html">
                </table> -->
            </div>
          </div>
        </div>
      <hr>
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!--  add Mars Hemispheres -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="row">
          <div class="col-md-8 offset-4">
            <h3 class="align-items-center"><u>Mars Hemispheres</u></h3>  
          </div>
        </div>
        </br>
        
      </div>  
    
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!--  scripts for auto screen adjustments -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    </body>
    
    </html>